# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.history
.idea
*.iml
out
gen
### TortoiseGit template
# Project-level settings
/.tgitconfig

### Redis template
# Ignore redis binary dump (dump.rdb) files

*.rdb

### SVN template
.svn/

